.container {
	color: #fff;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.box {
	background-color: grey;
	width: 500px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}